[user]
	email = johan@izi-services.nl
  name = Johan Adriaans
  signingkey = F4DF4CDC34003D83
[push]
	default = matching
[alias]
  st=status
  stat=status
  co=checkout
[commit]
	gpgsign = false
[gpg]
	program = gpg2
